<section class="content">
                 
              
                    <div class="type" id="Illustration">
                      <a class="divLink" href "{{site.baseurl}}/portfolio.html" <h1 style="margin-left: 20%;">Illustration</h1> </a>
                    </div>
                
                 
                  <div class="type" id="Design"> 
                       <h1 style="margin-left: 20%;">Design</h1> 
                     <a class="divLink" href "{{site.baseurl}}/portfolio.html" <p> Link to post page </p> </a>
                  </div>

                  <div class="type" id="Photography">
                       <h1 style="margin-left: 10%; color: black;">Photography</h1>
                    <a class="divLink" href "{{site.baseurl}}/portfolio.html" <p> Link to post page </p> </a>
                  </div>
