<section class="content">
                 
              
                    <div class="type" id="Illustration">
                         <a href "{{site.baseurl}}/portfolio.html"<h1 style="margin-left: 20%;">Illustration</h1> </a>
                    </div>
                
                 
                  <div class="type" id="Design">
                    <a href "{{site.baseurl}}/portfolio.html"<h1 style="margin-left: 20%;">Design</h1></a>
                  </div>
                  <div class="type" id="Photography">
                   <a href "{{site.baseurl}}/portfolio.html"<h1 style="margin-left: 10%; color: black;">Photography</h1></a>
</div>
