<section class="content">
                 
              
                    <div class="type" id="Illustration">
                      
                      <a class="divLink" href = "{{site.url}}/portfolio_illo.html"> <h1 style="margin-left: 20%;">Illustration</h1> </a>
                    </div>
                
                 
                  <div class="type" id="Design"> 
                      
                     <a class="divLink" href = "{{site.url}}/portfolio_design.html">  <h1 style="margin-left: 20%;">Design</h1>  </a>
                  </div>

                  <div class="type" id="Photography">
                       
                    <a class="divLink" href = "{{site.url}}/portfolio_photo.html"> <h1 style="margin-left: 10%; color: black;">Photography</h1></a>
                  </div>
