<div class="main-container"> 
    <section class="splash">

    <!-- Nav Start -->

    <div id="dsk-nav">
       <nav>
          <ul id="dsk-list">
            <li>About Me</li>
            <li>Portfolio</li>
            <li>Contact</li>
          </ul>
        </nav>
    </div>
    <div id="mob-nav">
        <nav>
           <ul id="mob-list">
             <li>About Me</li>
             <li>Portfolio</li>
             <li>Contact</li>
           </ul>
         </nav>
     </div>

  <!-- Nav End -->

    <div class="splashImg">
      Image goes here
    </div>

  <!-- Social Start -->

    <div class="social">
      <ul>
        <li>icon</li>
        <li>icon</li>
        <li>icon</li>
      </ul>
      <h5>Social Media</h5>
    </div>

    <!-- Social End -->

  </section>
</div>
