<header class="flex-container">
                <img class="section-item"" src="" alt="Placeholder Logo" title="Steve's Logo">

                <nav class="Head-copy">
                    <ul>
                        <li>
                            <a href="#text">Text</a>
                        </li>
                        <li>
                            <a href="#images">Images</a>
                        </li>
                        <li>
                            <a href="#colours">Colours</a>
                        </li>
                        <li>
                            <a href="#links">Links</a>
                        </li>
                        <li>
                            <a href="#widgets">Widgets</a>
                        </li>
                    </ul>
                </nav>
            </header>
