 /* Home Page Content Styles */

 .content {
    min-height: 300px;
    background-color: white;
  }
  
  .type {
   display: block;
    min-height: 300px;
    max-height:400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: 70px;
  }
  
  .type:hover {
    background-color: grey;
   font-size: 1.15em;
  } 
  .type > h1 {
   color: white;
   padding-top:110px;
   font-size: 4.5em;
  }

  #Illustration{
   background-image: url(../img/Tab_IllustrationV3.png);
  }

  #Design{
    background-image: url(../img/Tab_Design.png);
  }

  #Photography{
    background-image: url(../img/Tab_Photography.png);
  }
