body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.45em;
  }

  p{
    max-width:500px;
}
  
  .main-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; 
    background-color: #10101D;
    min-height:500px;
    
  }

.Head-copy{
    font-family: 'Oswald', sans-serif;
}

  .Body-copy{
    font-family: 'Raleway', sans-serif;
    line-height: 1.45em;
}
