
/* Media Queries */

@media screen and(min-width: 660px)
{

}

@media screen and (max-width: 600px) {
  #dsk-nav{
    display:none;
  }

  #mob-nav {
    display: block;
  }

  ul#mob-list, li {
      list-style: none;
      color: white;
    display:block;
  }
}