body{
  margin: 0;
}

.nav{
  min-height: 400px;
  text-align: center;
  padding: 150px;
  font-size: 1.5em;
  background-color: #10101D;
}
nav > ul {
  list-style-type: none;
  display: inline;
}

nav > ul > li {
  display: inline;
  margin: 40px;
  color: white;
}
