body{
  margin: 0;
}

.container {
  display: flex;
  flexflow: row wrap;
  justify-content: space-between; 
  background-color: black;
  min-height:150px;
}

nav > ul {
  list-style-type: none;
  display: inline;
  margin: 10px;
  line-height: 50px;
  
}

nav > ul > li {
  display: inline;
  margin: 5px;
  color: white;
}

.logo {
width: 150px;
}
