---
layout: default
title: Home
---

<div class="main-container">
    <section class="splash">

      <div class="splashImg">
        Image goes here
      </div>
      <div class="social">
        <ul>
          <li>icon</li>
          <li>icon</li>
          <li>icon</li>
        </ul>
        <h5>Social Media</h5>
      </div>
    </section>
    <section class="content">
      <div class="type">
       <h1>Illustration</h1>
      </div>
      <div class="type">
       <h1>Vector</h1>
      </div>
      <div class="type">
        <h1>Design</h1>
      </div>
      <div class="type">
       <h1>Photography</h1>
      </div>
    </section>
    
    
  </div>